.mobile__config{
  display: flex;
  justify-content:left;
  padding: 3px;
  position: absolute;
  flex-direction: column;
  width: 18.6%;
  top: 45%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: #000;
  border-radius: 10px;
  background-color: #171717;
  color: white;
  z-index: 1;
}

.mobile__language{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #171717;
  padding: 5px;
  border-radius: 8px;
  font-size: small;
}
